<div class="panel panel-primary">
  <div class="panel-heading">
    {{pageTitle}}
  </div>
  <div class="panel-body">
    <div class="row">
      <img src="./assets/images/stock-symbol.jpg"
           class="img-responsive center-block"
           style="max-height:600px;padding-bottom:50px"/>
    </div>
    <div class="row">
      <div class="text-center">Developed by :~</div>

      <h4 class="text-center">Virendra Singh</h4>
    </div>
    <div class="row">
      <div class="text-center">Follow me : ~</div>
      <div class="text-center"><a href="https://github.com/virendrabisht2006">https://github.com/virendrabisht2006</a>
      </div>
    </div>
  </div>
</div>
